

#spinner {
  animation: spin 1.6s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#link{
    display: none;
    font-size: 13px;
    color:#97f9ef;
}

h3:hover #link{
    display: inline;
   
}